body{
    text-align:center;
    font-family:sans-serif;
    margin-top:0;
    padding:30px 15px;
    box-sizing: border-box;
}

.setting-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 350px;
    margin: 20px auto;
    font-size:25px;
}

.heading-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 .4em .2em;
    border-bottom: 3px solid #0a264d;
    background-color: #ffffff;
    color: #333333;
    font-family: sans-serif;
    font-size: 40px;
}

.answer-grid{
    display: grid;
    grid-template-columns: repeat(2,250px);
    justify-content:center;
    gap:15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
/*スマホ*/
@media(max-width:600px){
    body{
        padding:20px 10px;
    }

    .answer-grid{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        align-items: center;
        gap:15px;
        width:100%;
        max-width:500px;
        margin:0 auto;
    }

    .answer-btn{
        width:90%;
        max-width:500px;
        min-height:65px;
        font-size:20px;
    }
}